body {
    font-family: Arial;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #1e293b;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    transition: 0.3s;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.password-box {
    display: flex;
    align-items: center;
}

.password-box input {
    flex: 1;
}

.show-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

#message {
    margin-top: 10px;
}

/* shake animation */
.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}